# macOS specific files
.DS_Store

# Python cache files
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache

# migrations
migrations

# node_modules
node_modules

# Service Account Key for GCS
hackathon2025-452403-29a59f9b7f44.json
