# macOS specific files
.DS_Store

# Python cache files
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache

# migrations
migrations

# node_modules
node_modules

# Config file
config.env

# Python Virtual Environment
backend/venv/

# Certificates (SSL Keys)
frontend/certs/

# Node.js dependencies (不要なら追加)
frontend/node_modules/

# Build files
frontend/build/


# Unwanted frontend files
frontend/=
frontend/CACHED
frontend/ERROR
frontend/exporting
frontend/frontend@0.1.0
frontend/naming
frontend/react-scripts
frontend/writing
frontend/\[backend\]
frontend/\[frontend
