@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.navbar {
    font-family: "Ubuntu", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    background-color: #043f2d;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo {
    width: 100px;
    height: auto;
}

.navImg {
    width: 100px;
}

.navButton {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    border: none;
    background-color: #34495e;
    margin: 10px 0;
    height: 60px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navButton:hover {
    background-color: #1abc9c;
}
  